{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "env": {
    "node": true
  },
  "rules": {
    "consistent-return": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "prefer-template": 0,
    "semi": ["error", "never"]
  }
}
